# 데이터 분석하기

In [7]:
import os
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [21]:
# pandas의 데이터프레임 형태로 데이터 불러오기
data_in_path = './sources/'
train_data_path = data_in_path + 'labeledTrainData.tsv'
train_data = pd.read_csv(train_data_path, header=0, delimiter='\t', quoting=3)

- 사용할 데이터가 탭(\t)으로 구분되어 있으므로 delimeter 인자에 '\t'를 설정
- 각 데이터에 각 항목명(Header)이 포함돼 있기 때문에 header 인자에 0을 설정
- 쌍따옴표를 무시하기 위해 quoting 인자에 3을 설정

In [22]:
# head 함수를 사용하여 상위 5개의 데이터 확인
train_data.head()

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...
3  "3630_4"          0  "It must be assumed that those who praised thi...
4  "9495_8"          1  "Superbly trashy and wondrously unpretentious ...

### 데이터 분석 과정
1. 데이터 크기
2. 데이터의 개수
3. 각 리뷰의 문자 길이 분포
4. 많이 사용된 단어
5. 긍정, 부정 데이터의 분포
6. 각 리뷰의 단어 개수 분포
7. 특수문자 및 대문자, 소문자 비율

### 1. 데이터 크기

In [29]:
# 데이터 크기 확인
print("File size: ")
for file in os.listdir(data_in_path):
    if 'tsv' in file:
        print(file.ljust(30) + str(round(os.path.getsize(data_in_path + file) / 10**6 , 2)) + 'MB')

File size:
labeledTrainData.tsv          33.56MB
testData.tsv                  32.72MB
unlabeledTrainData.tsv        67.28MB

- os 라이브러리를 사용해 해당 경로의 파일 목록 가져오기
- tsv 파일인지 확인
- 라벨이 없는 데이터가 가장 큰것을 확인 할 수 있음